body {
  width: 100vw;
  height: 100vh;
  overflow-y: none;
  overflow-x: none;
  margin-left: 0;
}


#navBarContainer {
  width: 100%;
}


#navFlexContainer {
 display: flex;
 flex-direction: row;
 width: 100%;
 align-items: center;
 background: linear-gradient(180deg, #68a2b9, #558fad, #447ca1, #366994, #2d5785, #274476, #243266, #231f54);
 border-bottom:black solid 10px;
}


.container-fluid {
  width: 100%;
  padding: 0;
}

.kraken-img {
  width: 50px;
  height: 50px;
}


/* */
#pTagNav {
  margin-left: 10px;
  color: white;
  font-size: 20px;
  padding-top: 10px;
}

#navDropdown {
  margin-left: 20px;
}