@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap');

.kraken-img {
  height: 75px;
  margin-right: 20px;
}

/* Navbar */
p {
  font-family: 'Arima Madurai', cursive;
  color: #001628;
}


/* Content */
#playerImg {
  border: 5px rgb(0, 20, 37) solid;
  box-shadow: 3px 2px 2px rgb(150, 216, 216);
  text-align: center;
  border-radius: 15px;
  margin: 15px 0;
}


#playerName {
  font-family: 'Arima Madurai', cursive;
  font-size: 30px;
  font-weight: 600px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}


ul {
  display: inline-block;
}



.gt_table {
  border: dashed red;
}
