.inverse {
  background-color: #272822;
    color: #d6d6d6;
    text-shadow: 0 0 20px #333;
}

.large {font-size: 30px}
.medium {font-size: 16px}
.notes {font-size: 10px;}

body { font-family: 'Calibri Light'}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #30763a;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}



